/* VARIABLES */
:root
{
    --icon_height: 30px;
    --icon_height_2: 25px;
    --dark: #333;
}
/* DEFAULTS */
::-webkit-scrollbar 
{
    width: 0;
    height: 10px;
    background: transparent;
}
a
{
    text-decoration: none;
    color: var(--dark);
}
/* BODY */
body
{
    margin: 0;
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}
/* HEADER */
header
{
    z-index: 1;
    top: 0; /* required */
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #aaa;
}
.header
{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
}
.nav_bar
{
    border-left: 30px solid white;
    border-bottom: 5px solid white;
    background-color: white;
    position: absolute;
    display: flex;
    left: 0%;
    justify-content: flex-start;
    font-size: 150%;
    z-index: 2;
    width: 220px;
}
.nav_bar *
{
    margin-top: 3%;
}
.nav_bar img
{
    margin-top: 10px;
    margin-left: 30px;
    height: var(--icon_height_2);
}
.search_bar
{
    z-index: 1;
    display: flex;
    margin-top: 0.5%;
}
.search_bar input
{
    width: 350px;
    height: var(--icon_height);
}
.search_bar img
{
    height: 17px;
}
.search_bar .search_btn
{
    width: 60px;
    margin-left: -5px;
}
.search_bar .rec_btn
{
    width: 35px;
    margin-left: 1%;
    border: none;
    border-radius: 30px;
}
.search_bar .rec_btn img
{
    margin-top: 20%;
}
.profile_bar
{
    top: 8px;
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
    position: absolute;
    right: 0%;
    margin-right: 2%;
}
.profile_bar div
{
    margin-top: -5px;
    width: 32px;
    border-radius: 30px;
    margin-left: 10px;
    background: rgb(200, 200, 200);
}
.profile_bar div img
{
    margin-top: 3px;
    margin-left: 3px;
}
.profile_bar img
{
    margin-left: 10px;
    height: var(--icon_height_2);
}
/* NAVIGATION */
.side_nav
{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    margin-top: -10px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 0.3s;
}
.side_nav a
{
    width: 80%;
    transition: 0.3s;
    display: block;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
}
.side_nav img
{
    margin-left: 10px;
    height: 25px;
    margin-right: 20px;
}
.side_nav a:hover, .side_nav .active
{
    font-weight: 600;
    background: rgba(0, 0, 0, 0.1);
}
.side_nav hr
{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px 0;
}
.side_nav h5
{
    color: #5f5f5f;
    margin-top: 10px;
    margin-left: 20px;
}
.side_nav .last
{
    margin-top: 50px;
}
/* HAMBURGER */
.side_bar
{
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    margin-top: -10px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.side_bar a
{
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    display: block;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 12px;
}
.side_bar img
{
    height: 30px;
}
.side_bar a:hover, .side_bar .active
{
    font-weight: 700;
}
/* MAIN */
main
{
    transition: 0.3s;
    width: auto;
    margin-left: 80px;
}
.category
{
    overflow: auto;
    background-color: white;
    display: flex;
    border-bottom: 1px solid #aaa;
}
.category a
{
    padding: 5px 10px;
    margin: 10px 0px 0px 10px;
    border: 1px solid #aaa;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
}
.category a:hover
{
    background-color: rgb(200, 200, 200);
    font-weight: bold;
}
.category .active
{
    background-color: var(--dark);
    color: white;
}
.main
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 2fr));
}
.main .container
{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.main .container img
{
    width: 250px;
    height: 150px;
}
.main .container .info
{
    width: 250px;
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}
.main .container .info img
{
    border-radius: 30px;
    width: 36px;
    height: 36px;
}
.main .container .info div
{
    margin-left: 10px;
}
.main .container .info div a
{
    font-size: 16px;
    font-weight: bold;
}
.main .container .info div h5
{
    margin: 5px 0px 0px 0px;
}
/* RESPONSIVE */
@media screen and (max-width: 950px)
{
    .search_bar input
    {
        width: 300px;
        height: var(--icon_height);
    }
}
@media screen and (max-width: 900px)
{
    .search_bar input
    {
        width: 250px;
        height: var(--icon_height);
    }
}
@media screen and (max-width: 850px)
{
    .search_bar input
    {
        width: 200px;
        height: var(--icon_height);
    }
}
@media screen and (max-width: 800px)
{
    .search_bar input
    {
        width: 150px;
        height: var(--icon_height);
    }
}
@media screen and (max-width: 760px)
{
    .search_bar input
    {
        width: 100px;
        height: var(--icon_height);
    }
}